body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 26px;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    Tema Laranja e cinza
   =================== */

.header-container {
    border-bottom: 20px solid #616161;
}

.footer-container,
.main aside {
    border-top: 20px solid #616161;
}

.header-container,
.footer-container,
.main aside {
    background: #f16529;
}

.title{
    font-size: 1.9em;
    text-align: center;
}

.title a{
    color: white;
    text-decoration: none;
}

/* ==============
    Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    display: flex;
    justify-content: space-evenly;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 10px;

    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: .9em;
    text-transform: uppercase;

    color: white;
    background: #616161;
}

nav a:hover, 
nav a.active {
    background: #000000;

    text-decoration: none;
}


/* ==============
    Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;

    border-radius: 5px;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 10px 0;
}

.footer-container .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-container .find-me {
    display: flex;
    justify-content: space-evenly;
    width: 100px;
}

.footer-container .find-me a img {
    height: 32px;
    width: 32px;
}

.footer-container .find-me a:hover img{
    filter: invert(100%);
}

/* ==============
    Home
   ============== */

.banner {
    position: relative;
    overflow: hidden;
}

.banner img{
    width: 100%;
}

.banner h1, .banner p{
    color: #fff;
    text-shadow: 2px 2px 4px #666;

    position: relative;
    z-index: 2;
}
.banner .lead {
    background: #f1652970;

    border: 1px solid #f16529;
    border-radius: 5px;
    display: block;
    padding: 20px;
    margin-top: 15%;
    position: relative;
}

.news section {
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
    padding-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.news iframe {
    max-width: 100%;
}

.news audio {
    height: 50px;
    width: 100%;
}

.news .img-news{
    max-width: 560px;
    overflow: hidden;
}

.news .img-news img{
    min-height: 100%;
    width: 100%;
}

.news h2 a,
.news h2 a:visited{
    color: #333333;
    text-decoration: none;
}
.news h2 a:hover{
    color: #f16529;
}

.news .veja-mais{
    color: #ffffff;
    line-height: 30px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;

    background-color: #f16529;
    border: 1px solid;
    display: block;
    padding: 2px;
    width: 100px;
    height: 30px;
    position: absolute;
    bottom: 50px;
    right: 20px;
}

.news .veja-mais:hover{
    background-color: #333333;
    color: #ffffff;
}

.fontes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.fontes section{ 
    border: 0;
    margin-bottom: 10px;
    width: 50%;
}

.fontes svg,
.fontes img{
    color: #000000;
    display: block;
    max-width: 200px;
    max-height: 50px;
}

.fontes a:hover svg{
    color: #000;
}

/* ==============
    Sobre
   ============== */

article.about{
    
}

aside.me h3 {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 5px;
}

aside.me p {
    text-transform: uppercase;
    text-align: center;
    margin-top: 0;
}

aside.me .find-me {
    display: flex;
    justify-content: space-evenly;
}

aside.me .find-me a img {
    height: 32px;
    width: 32px;
}

aside.me .find-me a:hover img{
    filter: invert(100%);
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

/* ====================
    TABLET
    ==================== */

@media only screen and (min-width: 480px) {

/* ====================
    Menu
   ==================== */

    nav a {
        margin-top: 15px;
        margin-bottom: 0;
        padding: 15px 2%;
        min-width: 100px;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

    .banner {
        height: 500px;
    }

    .banner img {
        position: absolute;
        top: -50%;
    }

    .banner.sobre img {
        top: -35%;
    }

    .banner.contato img {
        top: -10%;
    }

    .banner.saiba-mais img {
        top: -20%;
    }

    .banner .lead {
        background: #f1652970;
    
        border: 1px solid #f16529;
        border-radius: 5px;
        display: block;
        padding: 20px;
        margin-top: 15%;
        max-width: 40%;
        margin-left: 60%;
    }

    .news .img-news{
        height: 315px;
    }

}

/* ====================
    DESKTOP
   ==================== */
@media only screen and (min-width: 768px) {

/* ====================
    Efeitos
   ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

/* ============
    Menu
   ============ */

    .title {
        float: left;
        text-align: left;
    }

    nav {
        float: right;
        width: 35%;
    }

/* ============
    Geral
   ============ */

    .main article {
        float: left;
        width: 55%;
    }

    .main aside {
        float: right;
        width: 30%;
    }

    article.about{
        width: 60%;
        float: right;
    }

    aside.me {
        float: left;
        width: 20%;
    }
}


/* ===============
    WIDE - TELAS GRANDES
   =============== */
@media only screen and (min-width: 1140px) {

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helpers
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}